{% extends "posts/post_base.html" %}
{% load humanize %}

{% block prepost %}
<div class="col-md-4">
	{% if user.is_authenticated %}
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Your Groups</h5>
			<ul class="list-group">
				
				{% for member_group in get_user_group %}
				<li class="list-group-item">
					<a href="{% url 'groups:single' slug=member_group.group.slug %}">{{ member_group.group.name }}</a>
				</li>
				{% endfor %}

			</ul>
		</div>
	</div>
	{% endif %}
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">All groups</h5>
			<ul class="list-group">
				{# {% get_other_groups as other_groups %}#}
				{% for other_group in get_other_group %}
					<li class="list-group-item"><a href="{% url 'groups:single' slug=other_group.slug %}">{{ other_group.name }}</a></li>
				{% endfor %}
			</ul>
			



		</div>
	</div>
</div>
{% endblock %}
{% block post_content %}
<div class="col-md-8">
	{% for post in post_list %}
  {% include "posts/_post.html" %}
	{% endfor %}
</div>
{% endblock %}